html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

}

* {
  font-family:  'Poppins', 'sans-serif', 'Helvetica';
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input {
  scroll-margin-bottom: height-of-the-virtual-keyboard;
}